<h2>Stats</h2>
<div *ngFor="let bigGame of bigGames">
  {{ bigGame.date | date }}
  <br>
  team 1: {{ bigGame.player1a.name }}, {{ bigGame.player1b.name }} / {{ bigGame.total1 }}
  <br>
  team 2: {{ bigGame.player2a.name }}, {{ bigGame.player2b.name }} / {{ bigGame.total2 }}
  <br>
  <table>
    <th>1 tichu</th><th>1 duel</th><th>1 score</th><th>2 score</th><th>2 duel</th><th>2 tichu</th>
    <tr *ngFor="let game of bigGame.games">
      <td>
        <div *ngFor="let tichu of game.tichu1">
          {{ tichu.tichu }} ( {{ tichu.player?.name }} )
        </div>
      </td>
      <td>
        <div>
          {{ game.duel1?.success }}
        </div>
      </td>
      <td>{{ game.total1 }}</td>
      <td>{{ game.total2 }}</td>
      <td>
        <div>
          {{ game.duel2?.success }}
        </div>
      </td>
      <td>
        <div *ngFor="let tichu of game.tichu2">
          {{ tichu.tichu }} ( {{ tichu.player?.name }} )
        </div>
      </td>
    </tr>
  </table>
  <br>
</div>

