table{
  width: 100%;
  &, th, td{
    border: 1px solid black;
  }
  & th, table td{
    padding: 3px;
  }
  & td{
    text-align: center;
  }
  & th{
    padding: 0;
    &:nth-child(1), &:nth-child(6){
      width: 25%;
    }
  }

}
