<form 
  class="example-form" 
  >
    <mat-form-field class="example-full-width">
      <mat-label>Player A</mat-label>
      <input 
        type="text" 
        placeholder="Pick player"
        matInput  
        [(ngModel)]="model.playerA"
        [ngModelOptions]="{standalone: true}"
        name="playerA" 
        [matAutocomplete]="auto"
      >
      <mat-autocomplete 
        #auto="matAutocomplete" 
        (optionSelected)="setPlayer(model)" 
        [displayWith]="displayFn"
        >
          <mat-option 
            *ngFor="let player of players" 
            [value]="player"
            >
            {{player.name}}
          </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Player B</mat-label>
      <input 
        type="text" 
        placeholder="Pick player"
        matInput  
        [(ngModel)]="model.playerB"
        [ngModelOptions]="{standalone: true}"
        name="playerA" 
        [matAutocomplete]="auto"
      >
      <mat-autocomplete 
        #auto="matAutocomplete" 
        (optionSelected)="setPlayer(model)" 
        [displayWith]="displayFn"
        >
          <mat-option 
            *ngFor="let player of players" 
            [value]="player"
            >
            {{player.name}}
          </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>



<!-- 
  <mat-form-field class="example-full-width">
    <mat-label>Gracz 1</mat-label>
    <input 
      type="text" 
      placeholder="Pick player"
      matInput  
      [(ngModel)]="model.playerA"
      [ngModelOptions]="{standalone: true}"
      name="playerA"
      ngDefaultControl 
      [matAutocomplete]="auto"
    >
    <mat-autocomplete 
      #auto="matAutocomplete" 
      (optionSelected)="setPlayer(model)" 
      [displayWith]="displayFn">
        <mat-option 
          *ngFor="let player of players" 
          [value]="player"
          >
          {{player.name}}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->