<div class="cont">
    <div class="column-2">
        <span>{{ game.total1 }}</span>
    </div>
    <div class="column-2">
        <span>{{ game.total2 }}</span>
    </div>
</div>
<div class="cont">
    <label>Punkty</label>
    <mat-slider 
        thumbLabel
        #cards
        tickInterval="auto"
        min="-25"
        max="125"
        step="5"
        value="50"
        (change)="scoreSet(cards.value)"
        [disabled]="duel1Checked"
        [disabled]="duel2Checked"

        >
    </mat-slider>
</div>
<div class="cont-ext">
    <div class="column-2-5">
<!-- TICHU 1 -->

        <div class="tichu-toggle">
            <mat-button-toggle-group 
                (change)="updateTichuPlayers(1, $event)" 
                [disabled]="!tichu1Checked" 
                [checked]="!tichu1Checked" 
                appearance="legacy" name="tichu1" aria-label="tichu1" >
                <mat-button-toggle aria-label="tichu1a" [checked]="tPlayer1aChecked" [value]="bigGame.player1a">{{ bigGame.player1a.name }}</mat-button-toggle>
                <mat-button-toggle aria-label="tichu1b" [checked]="tPlayer1bChecked" [value]="bigGame.player1b">{{ bigGame.player1b.name }}</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-slide-toggle 
                [checked]="tichu1Checked"
                [disabled]="grande1Checked"
                [disabled]="tichu2Checked"
                [disabled]="grande2Checked"
                [disabled]="duel2Checked"
                [disabled]="fail1Checked && gFail1Checked"
                (change)="updateTichu(1, $event)">
            </mat-slide-toggle>
        </div>
<!-- FAIL 1 -->
        <div class="tichu-toggle">
                <mat-checkbox 
                    (change)="updateFailPlayers('1a', $event)"
                    [checked]="fPlayer1aChecked"
                    [disabled]="!fail1Checked"
                    
                    [disabled]="fPlayer1aDisabled" 
                    
                    >
                    {{ bigGame.player1a.name }}
                </mat-checkbox>
                <mat-checkbox 
                    (change)="updateFailPlayers('1b', $event)"
                    [checked]="fPlayer1bChecked" 
                    [disabled]="!fail1Checked"
                    >
                    {{ bigGame.player1b.name }}
                </mat-checkbox>
            <mat-slide-toggle
                [checked]="fail1Checked"
                [disabled]="grande1Checked && gFail1Checked"
                [disabled]="tichu1Checked && gFail1Checked"
                (change)="updateTichuFail(1, $event)">
                
            </mat-slide-toggle>
        </div>
<!-- GRANDE 1 -->
        <div class="tichu-toggle">
            <mat-button-toggle-group 
                (change)="updateGrandePlayers(1, $event)" 
                [disabled]="!grande1Checked" 
                appearance="legacy" name="grande1" aria-label="grande1" >
                <mat-button-toggle aria-label="grande1a"
                    [checked]="gPlayer1aChecked" [value]="bigGame.player1a">{{ bigGame.player1a.name }}</mat-button-toggle>
                <mat-button-toggle aria-label="grande1b"
                    [checked]="gPlayer1bChecked" [value]="bigGame.player1b">{{ bigGame.player1b.name }}</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-slide-toggle 
                [checked]="grande1Checked"
                [disabled]="tichu1Checked"
                [disabled]="tichu2Checked"
                [disabled]="grande2Checked"
                [disabled]="duel2Checked"
                [disabled]="fail1Checked && gFail1Checked"
                (change)="updateGrande(1, $event)"> 
            </mat-slide-toggle>
        </div>
<!-- GRANDE FAIL 1 -->
        <div class="tichu-toggle">
                <mat-checkbox 
                    (change)="updateGrandeFailPlayers('1a', $event)"
                    [checked]="gFailPlayer1aChecked" 
                    [disabled]="!gFail1Checked">
                    {{ bigGame.player1a.name }}
                </mat-checkbox>
                <mat-checkbox 
                    (change)="updateGrandeFailPlayers('1b', $event)"
                    [checked]="gFailPlayer1bChecked" 
                    [disabled]="!gFail1Checked">
                    {{ bigGame.player1b.name }}
                </mat-checkbox>
            <mat-slide-toggle 
                (change)="updateGrandeFail(1, $event)"
                [checked]="gFail1Checked"
                [disabled]="tichu1Checked && fail1Checked"
                [disabled]="grande1Checked && fail1Checked">
            </mat-slide-toggle>
        </div>
<!-- DUEL 1 -->
        <div class="tichu-toggle">

            <mat-slide-toggle
                (change)="updateDuel(1, $event)"
                [checked]="duel1Checked"
                [disabled]="duel2Checked"
                [disabled]="tichu2Checked"
                [disabled]="grande2Checked">
            </mat-slide-toggle>
        </div>
    </div>
    <div class="column-5">
        <ul>
            <li>Tichu</li>
            <li>Tichu Fail</li>
            <li>Grande Tichu</li>
            <li>Grande Tichu Fail</li>
            <li>Duel</li>
        </ul>
    </div>
    <div class="column-2-5">
<!-- TICHU 2 -->
        <div class="tichu-toggle">
            <mat-slide-toggle 
                [checked]="tichu2Checked"
                [disabled]="tichu1Checked"
                [disabled]="grande1Checked"
                [disabled]="duel1Checked"
                [disabled]="grande2Checked"
                [disabled]="gFail2Checked && fail2Checked"
                (change)="updateTichu(2, $event)">
            </mat-slide-toggle>
            <mat-button-toggle-group 
                (change)="updateTichuPlayers(2, $event)" 
                [disabled]="!tichu2Checked" 
                appearance="legacy" name="tichu2" aria-label="tichu2" >
                <mat-button-toggle aria-label="tichu2a"
                    [checked]="tPlayer2aChecked" [value]="bigGame.player2a">{{ bigGame.player2a.name }}</mat-button-toggle>
                <mat-button-toggle aria-label="tichu2b"
                    [checked]="tPlayer2bChecked" [value]="bigGame.player2b">{{ bigGame.player2b.name }}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
<!-- FAIL 2 -->
        <div class="tichu-toggle">
            <mat-slide-toggle
                [disabled]="grande2Checked && gFail2Checked"
                [disabled]="tichu2Checked && gFail2Checked"
                [checked]="fail2Checked"
                (change)="updateTichuFail(2, $event)">
            </mat-slide-toggle>
            <mat-checkbox                 
                (change)="updateFailPlayers('2a', $event)"
                [checked]="fPlayer2aChecked" 
                [disabled]="!fail2Checked">
                {{ bigGame.player2a.name }}
            </mat-checkbox>
            <mat-checkbox 
                (change)="updateFailPlayers('2b', $event)"
                [checked]="fPlayer2bChecked" 
                [disabled]="!fail2Checked">
                {{ bigGame.player2b.name }}
            </mat-checkbox>
        </div>
<!-- GRANDE TICHU 2 -->
        <div class="tichu-toggle">
            <mat-slide-toggle 
                [checked]="grande2Checked"
                [disabled]="tichu1Checked"
                [disabled]="tichu2Checked"
                [disabled]="grande1Checked"
                [disabled]="duel1Checked"
                [disabled]="fail2Checked && gFail2Checked"
                (change)="updateGrande(2, $event)"> 
            </mat-slide-toggle>
            <mat-button-toggle-group 
                (change)="updateGrandePlayers(2, $event)" 
                [disabled]="!grande2Checked" 
                appearance="legacy" name="grande2" aria-label="grande2" >
                <mat-button-toggle aria-label="grande2a"
                    [checked]="gPlayer2aChecked" [value]="bigGame.player2a">{{ bigGame.player2a.name }}</mat-button-toggle>
                <mat-button-toggle aria-label="grande2b"
                    [checked]="gPlayer2bChecked" [value]="bigGame.player2b">{{ bigGame.player2b.name }}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
<!-- GRANDE FAIL 2 -->
        <div class="tichu-toggle">
            <mat-slide-toggle 
                (change)="updateGrandeFail(2, $event)"
                [checked]="gFail2Checked"
                [disabled]="tichu2Checked && fail2Checked"
                [disabled]="grande2Checked && fail2Checked">
            </mat-slide-toggle>
            <mat-checkbox 
                (change)="updateGrandeFailPlayers('2a', $event)"
                [checked]="gFailPlayer2aChecked" 
                [disabled]="!gFail2Checked">
                {{ bigGame.player2a.name }}
            </mat-checkbox>
            <mat-checkbox 
                (change)="updateGrandeFailPlayers('2b', $event)"
                [checked]="gFailPlayer2bChecked" 
                [disabled]="!gFail2Checked">
                {{ bigGame.player2b.name }}
            </mat-checkbox>
        </div>
<!-- DUEL 2 -->

        <div class="tichu-toggle">
            <mat-slide-toggle
                (change)="updateDuel(2, $event)"
                [checked]="duel2Checked"
                [disabled]="duel1Checked"            
                [disabled]="tichu1Checked"
                [disabled]="grande1Checked">
            </mat-slide-toggle>
        </div>
    </div>
</div>
<div class="cont">
    <button (click)="sendGame(game)" class="add" mat-fab color="accent" >
        <mat-icon>add</mat-icon>
    </button>
    <!-- <button (click)="showBigGame()" class="add" mat-fab color="accent" >
        <mat-icon>add</mat-icon>
    </button> -->
    <button (click)="sendBigGame(games)" class="add" mat-fab color="primary" >
        <mat-icon>grading</mat-icon>
    </button>
</div>
